# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Home Assistant specific
.storage
.cloud
.HA_VERSION

# Custom component specific
custom_components/*/__pycache__/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log